/*

    GitHub Repository: https://github.com/IQuinteros/ComponentesWeb
    Ignacio Quinteros Fuentes
    INACAP

*/

body{
    color: #333;
    font-family: sans-serif;
    
    /*
        Diseño obtenido con la ayuda de páginas web de apoyo
    */
   background: rgba(28,138,255,1);
background: -moz-linear-gradient(top, rgba(28,138,255,1) 0%, rgba(0,97,53,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(28,138,255,1)), color-stop(100%, rgba(0,97,53,1)));
background: -webkit-linear-gradient(top, rgba(28,138,255,1) 0%, rgba(0,97,53,1) 100%);
background: -o-linear-gradient(top, rgba(28,138,255,1) 0%, rgba(0,97,53,1) 100%);
background: -ms-linear-gradient(top, rgba(28,138,255,1) 0%, rgba(0,97,53,1) 100%);
background: linear-gradient(to bottom, rgba(28,138,255,1) 0%, rgba(0,97,53,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1c8aff', endColorstr='#006135', GradientType=0 );
    /*
        Fin de Diseño personalizado
    */
}

body h1{
    text-align: center;
}

button{
    border-style: groove;
    border-radius: 10px;
}

#barra-lateral button{
    padding: 5px;
    padding-left: 10%;
    padding-right: 10%;
    margin: 5px;
}

#barra-lateral, #contenido, #pie{
    border-color: blue;
    border-width: thin;
    border-style: groove;
    border-radius: 10px; 
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: azure;
}

#cabecera{
    padding: 10px;
    text-align: center;
    align-content: center;
    margin-bottom: 10px;
    
    color: white;
    
    background: rgba(3,50,168,1);
background: -moz-linear-gradient(top, rgba(3,50,168,1) 0%, rgba(0,57,107,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(3,50,168,1)), color-stop(100%, rgba(0,57,107,1)));
background: -webkit-linear-gradient(top, rgba(3,50,168,1) 0%, rgba(0,57,107,1) 100%);
background: -o-linear-gradient(top, rgba(3,50,168,1) 0%, rgba(0,57,107,1) 100%);
background: -ms-linear-gradient(top, rgba(3,50,168,1) 0%, rgba(0,57,107,1) 100%);
background: linear-gradient(to bottom, rgba(3,50,168,1) 0%, rgba(0,57,107,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0332a8', endColorstr='#00396b', GradientType=0 );
    
    /*
        Diseño obtenido con la ayuda de páginas web de apoyo
    */
    -webkit-box-shadow: 0px 9px 31px 6px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 9px 31px 6px rgba(0,0,0,0.75);
    box-shadow: 0px 9px 31px 6px rgba(0,0,0,0.75);
    /*
        Fin de Diseño personalizado
    */
}
#barra-lateral{
    float: left;
    width: 200px;
    height: 400px;
    overflow: auto;
}

#contenido{
    overflow: hidden;
    height: 100%;
    margin-left: 10px;
}
#contenido h3{
    text-indent: 2em; 
}

#pie{
    margin-top: 10px;
    height: 100%;
    
    /*
        Diseño obtenido con la ayuda de páginas web de apoyo
    */
    -webkit-box-shadow: 0px 9px 31px 6px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 9px 31px 6px rgba(0,0,0,0.75);
    box-shadow: 0px 9px 31px 6px rgba(0,0,0,0.75);
    /*
        Fin de Diseño personalizado
    */
}

#contenedor{
    height: 100%;
    color: #333;
}

table{
    border-style: solid;
    border-radius: 15px;
    margin: 2em;
    
    /*
        Diseño obtenido con la ayuda de páginas web de apoyo
    */
    -webkit-box-shadow: 0px 9px 31px 6px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 9px 31px 6px rgba(0,0,0,0.75);
    box-shadow: 0px 9px 31px 6px rgba(0,0,0,0.75);
    /*
        Fin de Diseño personalizado
    */
}

.color{
    background-color: #FFFF0F;
}

#table tr td{
    border-style: solid;
    border-radius: 5px;
}

